@{
    ViewData["Title"] = "Trang chủ";
}

<h1 style="display: flex; justify-content: center;">Quản Lý Thiết Bị</h1>
<div class="button-csvc">
    <a href="/ThietBi=">Thiết Bị</a>
    <hr />

    <a href="/LichSuCapPhat" class="link">Lịch Sử Cấp Phát</a>
    <hr />

    <a href="/LichSuSuaChua" class="link">Lịch Sử Sửa Chữa</a>
    <hr />

    <a href="/QuanHeThietBi" class="link">Quan Hệ Thiết Bị</a>
    <hr />

    </div>
