@{
    ViewData["Title"] = "Trang chủ";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Học Viện An Ninh Nhân Dân</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Chiều cao của viewport */
            background-color: #f3f3f3; /* Màu nền */
            font-family: Arial, sans-serif;
        }

        .container {
            text-align: center; /* Canh giữa nội dung */
        }

            .container img {
                width: 150px; /* Kích thước ảnh */
                height: auto;
                margin-bottom: 20px; /* Khoảng cách giữa ảnh và chữ */
            }

            .container h1 {
                font-size: 2rem; /* Kích thước chữ */
                color: #333; /* Màu chữ */
                margin: 0;
            }
    </style>
</head>
<body>
    <div class="container">
        <img src="/images/Logo_hoc_vien_ANND.png" alt="Logo Học Viện An Ninh">
        <h1>HVANND</h1>
    </div>
</body>
</html>
